## ITNPBD2: Representing and Manipulating Data
## University of Stirling
## Dr. Kevin Swingler

# Python Data Objects

## Variables
- Variables are named objects that contain a value that can vary!
- Set a named variable to a value using the = sign

In [1]:
age = 30
print("Age is", age)

Age is 30

## Concatenating strings is done with the + sign

In [2]:
fname="Kevin"
sname="Swingler"
fullname=fname + " " + sname
print(fullname)

fname="M"
sname="Z"
fullname= fname + " " + sname
print(fullname)

Kevin Swingler
M Z

## Let's try that with age

In [3]:
name_age = fullname + " is " + str(28)
print(name_age)

M Z is 28

# Age is the wrong data type
## Data Types define what can be done to a variable, and how:

In [4]:
age = 28
print(age)

age = age + 1
print(age)

28
29

# So we need to tell Python to treat `age` as a string

In [5]:
name_age=fullname + " is " + str(age)
print(name_age)

M Z is 29

# Basic Python Data Types

 - Integer `int`
 - Float `float`
 - String `str`
 - Boolean `Bool` (0=False, all else = True)

In [6]:
print(3.1)
print(int(3.1))
print(3)
print(float(3))
print(bool(0))
print(1e+2)
print("")
print(2.1)
print(int(2.1))
print(2)
print(float(3))
print(bool(1))
print(1e+5)

3.1
3
3
3.0
False
100.0

2.1
2
2
3.0
True
100000.0


# Find out the type using `type`

In [7]:
a = 3.1
print(a,type(a))

b = 2e5
print(b, type(b))

3.1 <class 'float'>
200000.0 <class 'float'>

# Back to strings
Enclose them in either single or double quotes: " or ' use one inside the other

In [8]:
print("I can do this to enclose this 'word' in single quotes")
print('Or this "word" in double quotes')
#print("But this "gives" and error")

I can do this to enclose this 'word' in single quotes
Or this "word" in double quotes

## The slash character: `\` is used to insert special characters, like extra quotes:
- `\t` Tab
- `\n` Newline
- `\"` Double quote
- `\'` Single quote

In [9]:
print("There is a \t tab space there")
print("Here is a \nnewline")
print("And here we insert a \"double quote\"")
print('And a \'single\' one')

print("I can use tab like \tthis")
print("Here is a \nnewline")
print("That's how you can insert \"double quotes\"")
print("That's how you can use \'single quotes'")

There is a 	 tab space there
Here is a
newline
And here we insert a "double quote"
And a 'single' one
I can use tab like 	this
Here is a
newline
That's how you can insert "double quotes"
That's how you can use 'single quotes'

## The % placeholder is used to insert variable values into a string
- `%d` Integer
- `%f` Float
- `%s` String

In [10]:
print("This string contains an integer, %d a float, %f and a string, %s" %(1,2,"dog"))
print("This string contains an integer, %d, a float %f, and a string, %s" %(1, 2, "dog"))

This string contains an integer, 1 a float, 2.000000 and a string, dog
This string contains an integer, 1, a float 2.000000, and a string, dog

## f-strings are better

In [11]:
animal = "dog"
age = 3
print(f"My pet is an {animal} and it is {age} years old")
# You can put anything in the {} braces - try it!
print(f"My pet is a {animal} and is it {age} y/o")

My pet is an dog and it is 3 years old
My pet is a dog and is it 3 y/o

# Lists and Tuples
- What if you want to store more than one value in a single structure?
- Lists are for variable length lists
- Tuples are for fixed sets of values
- Both can be of mixed types
- Both can contain literal values or variables
- Tuples are immutable

In [12]:
l1 = [1, 2, 3]
l2 = [1, 1.2, "a"]
v=3
l3=[1, 2, v]
t=(3,4)

tuple1 = [1, 2, 3]
tuple2 = [100, 5.4, "c"]
var = 3
tuple3 = [1, 2, var]
tuple4 = (5, 6)

print(l1, l2, l3, t)
print(tuple1, " , ", tuple2, var, tuple3, tuple4)

[1, 2, 3] [1, 1.2, 'a'] [1, 2, 3] (3, 4)
[1, 2, 3]  ,  [100, 5.4, 'c'] 3 [1, 2, 3] (5, 6)

In [13]:
v=5
w = 6
print(v, l3)
print(v, w, 22, tuple2)

5 [1, 2, 3]
5 6 22 [100, 5.4, 'c']

In [14]:
v = 55
list3 = [1, 2, v]
list3.append("more")
print(list3)

list3.insert(2, "Budge up")
print(list3)

tuple3.append("added string")
tuple3.insert(2, 555)
print(tuple3)

[1, 2, 55, 'more']
[1, 2, 'Budge up', 55, 'more']
[1, 2, 555, 3, 'added string']

In [15]:
l3 = l3 + [5,6,7]
l3

tuple3 += [7, 8, 9]
print(tuple3)

[1, 2, 555, 3, 'added string', 7, 8, 9]

In [16]:
t.append("more") # Can't do this
tuple3.append(5)

AttributeError: 'tuple' object has no attribute 'append'

## Tuples are useful for carrying multiple return values from a function

In [ ]:
def div_and_remainder(a,b):
    div=int(a / b)
    rem=a % b
    return div,rem

print(div_and_remainder(10, 3), '\n')

def quotient_and_remainder(x, y):
    quotient = int(x / y)
    remainder = x % y
    return quotient, remainder

var = quotient_and_remainder(10, 6)
print(f"Quotient: {var[0]}\nRemainder: {var[1]}\n")
print(f"Quotient: {quotient_and_remainder(10, 6)[0]}\nRemainder: {quotient_and_remainder(10, 6)[1]}")

## Both lists and tuples can be accessed by their index, starting at zero

In [19]:
print(t[1])
print(l3[0])

print(l3[-1])

l3[2]="New entry"
print(l3)

# Can't do this:
#t[0] = 1

list1 = [5, 6, 7]
tuple2 = [2, "2", 3]

list1[1] = 100
print(list1)

# Can't do this:
tuple[1] = 100

4
1
7
[1, 2, 'New entry', 5, 6, 7]
[5, 100, 7]

TypeError: 'type' object does not support item assignment

## Lists and tuples can be iterated like this

In [18]:
for item in l3:
    print(f"Next item is {item}")
    
for i in tuple1:
    print(f"i = {i} ")

Next item is 1
Next item is 2
Next item is 3
Next item is 5
Next item is 6
Next item is 7
i = 1
i = 2
i = 3

# Slicing lists
Access a sub range of a list with the `:` operator inside `[]` square brackets
- `[s:f:p]` Start to one more than the finish, step p at a time
- Miss the first number means start at the beginning
- Miss the second number means finish at the end
- Miss the third means step size is 1
- Negative step size means start from the other end

In [48]:
one_to_ten = list(range(0, 10))
#print(one_to_ten)

#print(one_to_ten[2:5])
#print(one_to_ten[3:])
#print(one_to_ten[:3])
#print(one_to_ten[:4:-1])

print(one_to_ten[2:5])   # 
print(one_to_ten[3:])    # 
print(one_to_ten[:3:])   # 
print(one_to_ten[:3])    # 
print(one_to_ten[:4:-1]) # go in the reveresed order by 1 until index 4
print(one_to_ten[:-1:4]) # go by 4 and finish at the last index

[2, 3, 4]
[3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[0, 1, 2]
[9, 8, 7, 6, 5]
[0, 4, 8]

## Sorting a list
- Sort it in place with `sort()`
- Create a sorted copy with `sorted()`

In [53]:
import random
r=[]
for i in range(10):
    r.append(random.randrange(1, 10))

# Method #1
print("r = ", r)
print("sorted(r) = ", sorted(r))

# Method #2
print("r = ", r)
r.sort()
print("r.sort() then print", r)

r =  [8, 5, 4, 8, 1, 4, 3, 4, 3, 9]
sorted(r) =  [1, 3, 3, 4, 4, 4, 5, 8, 8, 9]
r =  [8, 5, 4, 8, 1, 4, 3, 4, 3, 9]
r.sort() then print [1, 3, 3, 4, 4, 4, 5, 8, 8, 9]

## Removing items from a list
- Remove the last item and get its value with `pop`
- Remove by index with `del`
- Remove by value with `remove`

In [ ]:
print(r.pop())
print(r)

del r[3]
print(r)

if(4 in r):
    r.remove(4)
    print(r)
else:
    print("No 4 in list")

print(f"Length is now {len(r)}")

## Two dimensional lists

In [ ]:
m=[]
for i in range(5):
    m.append([])
    for j in range(5):
        m[i].append(i * (j+1))
display(m)

# Select elements, rows and columns

In [ ]:
row2_col3 = m[2][3]
print(row2_col3)
r1 = m[1]
print(r1)
c1 = [row[1] for row in m]
print(c1)

# Sets
- Unordered
- No repeating values
- Defined with `{ }` braces

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.union(s2))
print(s1.intersection(s2))

In [ ]:
s1.add(4)
print(s1)

In [ ]:
s1.remove(4)
print(s1)

Note - we declare an empty set with `set()` not `{}`, which is an empty dictionary

## Later we will meed more sophisticated matrix representations such as numpy and pandas